<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Document</title>
</head>
<body>
  <h1>PokeDex</h1>
  <a href="/pokemon/new" id="create">Create a Pokemon</a>
  <img src="/Users/calebjohnson/bug_busters/unit-2/pokemon-lab/download.png" alt="">
  <ul>
    <% for (let i = 0; i < allPokemon.length; i++ ) { %>
      <li id="items">      
        <a href="/pokemon/<%= i %>"><%=allPokemon[i].name %></a>
        <img src="<%= allPokemon[i].img %>" alt="<%= allPokemon[i].name%>">
        </li>
  <% } %>
      </ul>
      
</body>
</html>