<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/style.css">
    <title>Catch Em All!</title>
  </head>
  <body>
    <h1>Create Your Own Pokemon!</h1>
    <form action="/pokemon" method="POST" id="makenew">
      Name: <input type="text" name="name" id="make" /><br />
      Type: <input type="text" name="name" id="make"/><br />
      Region: <input type="text" name="name" id="make"/> <br>
      <input type="submit" value="Create Pokemon" /> <br>
    </form>
  </body>
</html>